---
import AboutMe from "@/components/AboutMe";
import AboutMe2 from "@/components/AboutMe2";
import FinAboutMe from "@/components/FinAboutMe";
import IntroAboutMe from "@/components/IntroAboutMe";
---

<section class="my-28 w-full h-min-screen">
    <div
        class="flex flex-col max-w-7xl text-center mx-auto space-y-6 px-6 py-12"
    >
        <IntroAboutMe client:load />
    </div>
    <AboutMe client:load />
    <div
        class="flex flex-col max-w-7xl text-center mx-auto space-y-6 px-6 py-12"
    >
        <AboutMe2 client:load />
    </div>
    <div
        class="flex flex-col max-w-7xl text-center mx-auto space-y-6 px-6 py-12"
    >
        <FinAboutMe client:load />
    </div>
</section>
