---
import { Button } from "@/components/ui/button";
import { DollarSignIcon } from "lucide-react";
import HeroAnimatedText from "@/components/HeroAnimatedText";
---

<section class="my-8 w-full h-min-screen">
    <div class="flex flex-col max-w-7xl mx-auto space-y-6 px-6">
        <HeroAnimatedText client:load />
        <h2
            class="text-2xl font-semibold text-primary/70 tracking-tight sm:text-3xl"
        >
            Todavía soy estudiante, pero ya estoy construyendo<br /> lo que muchos
            solo imaginan.
        </h2>
        <div id="animate" class="flex items-center gap-4">
            <Button variant="default">
                <DollarSignIcon /> Hablemos de negocios
            </Button>
            <Button variant="secondary"> ¿Y si descubres mi historia? </Button>
        </div>
    </div>
</section>

<script>
    import { gsap } from "gsap";

    const tl = gsap.timeline();

    tl.from("h2", {
        delay:1.3,
        autoAlpha: 0,
        y: 60,
        filter: "blur(10px)",
        duration: 0.8,
        ease: "power2.out",
    }).from("#animate", {
        autoAlpha: 0,
        y: 60,
        filter: "blur(10px)",
        duration: 0.8,
        ease: "power2.out",
    }, "-=0.5");
</script>
