---
import { Button } from "@/components/ui/button";
import { DollarSignIcon } from "lucide-react";
---

<section class="my-8 w-full h-min-screen">
    <div class="flex flex-col max-w-7xl mx-auto space-y-6 px-6">
        <h1 class="text-6xl font-bold tracking-tight sm:text-8xl">
            Si no entra por los <mark class="bg-transparent text-primary shadow-[inset_0_-0.5em_0_0_rgb(242,175,181)]">ojos</mark>, tampoco entra en producción.
        </h1>
        <h2 class="text-2xl font-semibold text-primary/80 tracking-tight sm:text-3xl">
            Todavía soy estudiante, pero ya estoy construyendo<br/> lo que muchos solo imaginan.
        </h2>
        <div class="flex items-center gap-4">
            <Button variant="default">
                <DollarSignIcon /> Hablemos de negocios
            </Button>
            <Button variant="secondary">
               ¿Y si descubres mi historia?
            </Button>
        </div>
    </div>
</section>