---
import SkillGrid from "@/components/Landing/SkillGrid";
---

<!-- <section class="max-w-5xl mx-auto mb-24 px-8">
    <h2 class="text-6xl font-bold max-w-5xl text-center leading-tight mb-12">
        Estas son {" "}
        <mark
            class="bg-transparent text-primary shadow-[inset_0_-0.5em_0_0_rgb(174,181,181)]"
        >
            mis skills
        </mark>
    </h2>
</section> -->
<SkillGrid client:visible />
